ncp/src/main/resources/STADS_GetStudentsResults.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://GetStudentsResultWS_V1_0.webservice.stads.logica.dk/" xmlns:wsdl="http://GetStudentsResultWS_V1_0.webservice.stads.logica.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://GetStudentsResultWS_V1_0.webservice.stads.logica.dk/" name="GetStudentsResultWS_V1_0">
  <!-- $Header$ -->

  <types>
    <xsd:schema>
      <xsd:import namespace="http://GetStudentsResultWS_V1_0.webservice.stads.logica.dk/" schemaLocation="http://stads-dev31.northeurope.cloudapp.azure.com:4062/ws_STADS/services/GetStudentsResult/version_1_0?xsd=1"/>
    </xsd:schema>
  </types>

  <message name="pingVersion">
    <part name="parameters" element="tns:pingVersion"/>
  </message>
  <message name="pingVersionResponse">
    <part name="parameters" element="tns:pingVersionResponse"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <message name="StadsFault">
    <part name="fault" element="tns:StadsFault"/>
  </message>

  <message name="getStudentsResults">
    <part name="parameters" element="tns:getStudentsResults"/>
  </message>
  <message name="getStudentsResultsResponse">
    <part name="parameters" element="tns:getStudentsResultsResponse"/>
  </message>
 

  <portType name="GetStudentsResultWS">
    <operation name="pingVersion">
      <input message="wsdl:pingVersion"/>
      <output message="wsdl:pingVersionResponse"/>
    </operation>
    <operation name="ping">
      <input message="wsdl:ping"/>
      <output message="wsdl:pingResponse"/>
    </operation>
    <operation name="getStudentsResults">
      <input message="wsdl:getStudentsResults"/>
      <output message="wsdl:getStudentsResultsResponse"/>
      <fault message="wsdl:StadsFault" name="StadsFault"/>
    </operation>
  </portType>

  <binding name="GetStudentsResultWSPortBinding" type="wsdl:GetStudentsResultWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="pingVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
   
    <operation name="getStudentsResults">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="StadsFault">
        <soap:fault name="StadsFault" use="literal"/>
      </fault>
    </operation>
  </binding>

  <service name="GetStudentsResultWS_V1_0">
    <port name="GetStudentsResultWSImplPort" binding="wsdl:GetStudentsResultWSPortBinding">
      <!-- location udfyldes med korrekt server,port etc. på runtime -->
      <soap:address location="http://stads-dev31.northeurope.cloudapp.azure.com:4062/ws_STADS/services/GetStudentsResult/version_1_0"/>
    </port>
  </service>

</definitions>